* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  --Green100D: #94d400;
  --Green100: #bbff00;
  --Green100DP: #85bb07;
  --Blue100: #70c0f7;
  --Blue: #9bd3f9;
  --BlueP: #4fa3dd;
  --GrayH: #63696a;
  --GrayP: #090909;
  --Night: #0e4266;
  --buttonWidth: 172px;
  --buttonHeight: 44px;
  --buttonRadius: 24px;
  --buttonFontSize: 18px;
  --buttonFontWeight: 600;
  --logoWidth: 270px;
  --logoHeight: 46px;
  --containerBottomWidth: 1360px;
  --containerBottomHeight: 528px;
  --containerTopPadding: 36px;
  --containerBottomMargin: 166px;
  --buttonThemeSize: 44px;
  --buttonThemeRadius: 64px;
  --headerTextWeight: 700;
  --headerTextSize: 88px;
  --mainTextSize: 48px;
  --mainTextWeight: 600;
  --mainTextColor: #20282a;
  --mainTextColor-rgb: 32, 40, 42;
  --whiteColor: white;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  height: 994px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.header__top {
  display: flex;
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  padding-top: var(--containerTopPadding);
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.header__logo {
  width: var(--logoWidth);
  height: var(--logoHeight);
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 13px;
  color: var(--whiteColor);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--buttonFontSize);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  border-radius: var(--buttonRadius);
  font-weight: var(--buttonFontWeight);
  user-select: none;
  transition: 0.1s;
}

.button1 {
  background-color: var(--Green100D);
}

.button2 {
  background-color: var(--Blue100);
}

.button3 {
  background-color: var(--Night);
  width: var(--buttonThemeSize);
  height: var(--buttonThemeSize);
  border-radius: var(--buttonThemeRadius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

.button1 .icon {
  height: 24px;
}

.icon-small {
  width: 28px;
  height: 28px;
}

.header__bottom {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}

.header__text {
  margin-top: var(--containerBottomMargin);
  font-weight: var(--headerTextWeight);
  font-size: var(--headerTextSize);
  color: var(--whiteColor);
  white-space: normal;
}

.header__text p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
}

.main__text {
  padding-top: 224px;
  max-width: 1302px;
  width: 100%;
  margin: 0 auto;
  font-size: var(--mainTextSize);
  font-weight: var(--mainTextWeight);
  color: var(--mainTextColor);
}

.main__text__title {
  font-weight: 600;
  font-size: 35px;
  color: var(--Green100);
  margin-bottom: 48px;
}

.main__text p {
  margin: 0 0 1em;
}

.highlight {
  color: var(--Green100D);
}

.main__buttons {
  padding: 128px 0 85px;
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.main__buttons__founded,
.main__buttons__projects {
  width: 624px;
  height: 226px;
  border-radius: 160px;
  border: 3px solid rgba(32, 40, 42, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__buttons__founded img,
.main__buttons__projects img {
  width: 42px;
  height: 76px;
}

.main__buttons__text {
  font-size: 140px;
  font-weight: 700;
  color: var(--mainTextColor);
  display: flex;
  gap: 48px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.main__buttons__subtext {
  font-size: 24px;
  font-weight: 500;
  color: var(--mainTextColor);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.main__line {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  background-color: rgba(221, 221, 221, 0.87);
  height: 2px;
  margin-bottom: 128px;
}

.outer-container {
  display: flex;
  justify-content: center;
  padding-left: 70px;
  width: 100%;
  box-sizing: border-box;
}

.main__container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  margin-bottom: 128px;
  max-width: 1365px;
  width: 100%;
  box-sizing: border-box;
}

.main__projects {
  max-width: 1186px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.main__projects__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__projects__title p {
  margin: 0;
}

.main__projects__titleGreen {
  font-size: 35px;
  font-weight: 600;
  color: var(--Green100D);
}

.main__projects__titleNight {
  font-size: 35px;
  font-weight: 600;
  color: var(--mainTextColor);
  opacity: 60%;
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
}

.main__projects__video {
  height: 712px;
  border-radius: 32px;
  border: 1px solid black;
  background-color: black;
  margin-bottom: 32px;
}

.main__projects__nextel {
  margin-top: 93px;
  color: rgba(32, 40, 42, 0.3);
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}

.main__projects__nextel p {
  margin: 0;
}

.main__projects__video__subtitle {
  font-size: 48px;
  color: var(--mainTextColor);
  font-weight: 600;
}

.main__projects__video__subtitle p {
  margin: 0;
}

.swiper-container {
  width: 100%;
  height: auto;
  border-radius: 32px;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  width: 80%;
}

footer {
  border-top: 2px solid rgba(var(--mainTextColor-rgb), 0.3);
}

.footer__container {
  max-width: 1361px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 0;
  display: flex;
  flex-direction: row;
  gap: 446px;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  gap: 13px;
}

.footer__contact {
  gap: 56px;
}

.footer__contact,
.footer__tel,
.footer__email {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__tel,
.footer__email {
  gap: 12px;
}

.footer__tel img,
.footer__email img {
  width: 28px;
  height: 28px;
}

body.dark {
  background-color: var(--mainTextColor);
}

.main__text.dark,
.dark {
  color: var(--whiteColor);
}

.main__buttons__founded.dark,
.main__buttons__projects.dark {
  border: 3px solid var(--Green100);
}

.main__buttons__text.dark {
  color: var(--Green100);
}

.main__buttons__subtext.dark {
  color: var(--whiteColor);
}

.main__projects__titleNight.dark {
  color: var(--whiteColor);
  opacity: 100%;
}

.main__projects__nextel.dark {
  color: #dddddd;
}

.main__projects__video__subtitle.dark {
  color: var(--whiteColor);
}

footer.dark {
  background-color: #151919;
  color: var(--whiteColor);
  border-top: 2px solid #474b4c;
}

.button3.dark {
  background-color: white;
}

.button.button1:hover {
  background-color: var(--Green100);
}

.button.button2:hover {
  background-color: var(--Blue);
}

.button.button3:hover {
  background-color: #d8f0fe;
}

.button.button1:active {
  background-color: var(--Green100DP);
}

.button.button2:active {
  background-color: var(--BlueP);
}

.main__projects__titleNight:hover {
  box-shadow: inset 0 0 0 1px #20282a;
  border-radius: 32px;
  background-color: rgba(112, 192, 247, 0.1);
}

.main__projects__titleNight:active {
  background-color: white;
  color: var(--mainTextColor);
  opacity: 100%;
}

.main__projects__titleNight.dark:hover {
  background-color: rgba(112, 192, 247, 0.2);
  box-shadow: inset 0 0 0 1px var(--whiteColor);
}

.main__projects__titleNight.dark:active {
  background-color: #151919;
  color: var(--whiteColor);
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  width: 704px;
  height: 789px;
  padding: 32px 48px;
  border-radius: 32px;
  background-color: var(--whiteColor);
  position: relative;
  box-sizing: border-box;
}

.close {
  align-self: flex-end;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 8px;
  width: 40px;
  height: 40px;
}

.popup__header {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
  color: var(--mainTextColor);
}

.popup__header h2 {
  font-size: 47px;
  font-weight: 500;
}

.popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.popup__file,
.popup__button {
  display: flex;
  align-items: center;
}

.popup__file {
  gap: 18px;
  color: rgba(var(--mainTextColor-rgb), 0.6);
}

.popup__submit {
  display: flex;
  justify-content: space-between;
  gap: 169px;
}

.popup__button button {
  padding: 16px 54px;
  border-radius: 42px;
  background-color: var(--mainTextColor);
  color: var(--whiteColor);
  font-size: 18px;
  cursor: pointer;
}

input,
textarea {
  width: 608px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  background-color: rgba(var(--mainTextColor-rgb), 0.05);
  outline: none;
  resize: none;
}

textarea {
  height: 160px;
}

input::placeholder,
textarea::placeholder {
  color: var(--mainTextColor);
  opacity: 40%;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  box-shadow: inset 0 0 0 2px var(--Green100D);
}

input.error,
textarea.error {
  box-shadow: inset 0 0 0 2px #f06c6c;
}

.file-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--Green100D);
  background-image: url("/images/header/header__popupFile.svg");
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.file-button:hover {
  background-color: var(--Green100);
}
.file-button:active {
  background-color: var(--Green100DP);
}

.mobile {
  display: none;
}

header.project {
  height: 110px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 0 auto;
  max-width: 1296px;
  width: 100%;
}

.projects__title p {
  margin-top: 72px;
  font-size: 85px;
  font-weight: 500;
}

.projects__videos {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: 129px;
}

.project__video {
  position: relative;
  width: 1296px;
  height: 638px;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  overflow: hidden;
}

.project__video__content {
  max-width: 1184px;
  width: 100%;
  height: 575px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.project__fullname {
  font-size: 24px;
  margin-bottom: 408px;
  color: white;
  opacity: 0;
  transition: opacity 0.1s;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.35);
}

.project__video__title h2 {
  font-size: 60px;
  color: white;
  font-weight: 500;
  margin-bottom: 0px;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.35);
}

.project__video__subtitle h3 {
  font-size: 32px;
  font-weight: 500;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.35);
  color: white;
}

.project__details {
  display: flex;
  flex-direction: row;
  gap: 161px;
}

.project__titles {
  display: flex;
  flex-direction: column;
}

.button__play {
  background-image: url("/images/main/projects__buttonplay.svg");
  background-size: cover;
  width: 76px;
  height: 76px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  transition: opacity 0.1s;
  opacity: 1;
}

.project__video:hover .overlay {
  opacity: 0;
}

.project__button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.project__video:hover .project__fullname {
  opacity: 1;
}

.project__video:hover .project__button {
  opacity: 1;
}
@media (max-width: 850px) {
  .mobile {
    display: block;
  }

  header {
    height: 667px;
    width: 100%;
  }

  .header__logo {
    width: 140px;
    height: 24px;
  }

  .header__top {
    padding: 24px 16px;
  }

  .header__buttons {
    gap: 20px;
  }

  .button1,
  .button2,
  .button3 {
    width: 44px;
    height: 44px;
  }

  header span {
    display: none;
  }

  .button1 img.icon {
    width: 28px;
    height: 20px;
    padding: 0;
    margin-left: 0;
  }
  .button2 img.icon {
    width: 32px;
    height: 31px;
    margin-left: 0;
  }

  .button3 {
    background-color: var(--Night);
  }

  .header__bottom {
    height: auto;
  }

  .header__text {
    margin: 88px auto 0;
    max-width: 320px;
    white-space: inherit;
  }

  .header__text p {
    font-size: 32px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .main__text {
    padding-top: 48px;
    font-size: 19px;
    margin: 0 auto;
    max-width: 343px;
    width: 100%;
  }

  .main__text__title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .main__buttons {
    padding: 40px 0;
    max-width: 343px;
    gap: 5px;
  }

  .main__buttons__founded,
  .main__buttons__projects {
    width: 169px;
    height: 67px;
    border-radius: 72px;
    border: 1px solid rgba(32, 40, 42, 0.6);
    display: flex;
  }

  .main__buttons__founded img,
  .main__buttons__projects img {
    width: 16px;
    height: 26px;
  }

  .main__buttons__text {
    font-size: 36px;
    font-weight: 700;
    color: var(--mainTextColor);
    gap: 5px;
  }

  .main__buttons__subtext {
    padding: 0 !important;
    font-size: 11px;
    margin: 0 auto;
    color: var(--mainTextColor);
    opacity: 0.6;
  }

  .main__line {
    max-width: 341px;
    margin-bottom: 48px;
  }

  .desktop {
    display: none;
  }

  .main__projects {
    max-width: 342px;
    gap: 0;
    margin: 0 auto;
  }

  .main__projects__title {
    gap: 0;
    justify-content: flex-start;
  }

  .main__projects__title p {
    margin: 0;
  }

  .main__projects__titleGreen {
    font-size: 14px;
    margin-bottom: 22px;
  }

  .swiper-container.mobile {
    width: 100%;
    height: 201px;
    overflow: hidden;
    border-radius: 16px;
  }

  .swiper-slide.mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;
    border: none;
    width: 100%;
  }

  .main__projects__video {
    background-color: black;
    height: 201px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 8px;
  }

  .main__projects__video__subtitle {
    font-size: 16px;
    color: var(--mainTextColor);
    font-weight: 600;
    margin: 0;
    text-align: left;
  }

  .main__projects__next {
    display: flex;
    flex-direction: row;
    gap: 56px;
    margin-bottom: 41px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
  }

  .main__projects__next img {
    width: 161px;
    height: 13px;
  }

  .main__projects__next p {
    font-size: 12px;
    color: #797e7f;
    font-weight: 600;
  }

  .main__projects__button button {
    background-color: var(--Green100D);
    padding: 12px 129px;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 600;
    border-radius: 32px;
    margin-bottom: 64px;
  }

  footer {
    display: block;
    margin: 0;
    padding: 0;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 342px;
    width: 100%;
    gap: 20px;
    padding: 16px 0 40px 0;
  }

  .footer__logo .footer__content {
    gap: 20px;
  }

  .footer__data p {
    font-size: 14px;
    max-width: 260px;
  }

  .footer__contact {
    gap: 54px;
  }

  .footer__contact,
  .footer__tel,
  .footer__email {
    display: flex;
    align-items: flex-start;
  }

  .footer__tel,
  .footer__email {
    flex-direction: column;
    gap: 0;
  }

  .footer__tel p,
  .footer__email p {
    font-size: 14px;
  }

  .footer__tel img,
  .footer__email img {
    width: 24px;
    height: 24px;
  }

  .footer__logo img {
    width: 140px;
    height: 24px;
  }
  .popup {
    background-color: var(--whiteColor);
  }

  .popup-content {
    width: 343px;
    height: 575px;
    padding: 0px 0px;
    border-radius: 0px;
    background-color: var(--whiteColor);
  }

  .close {
    margin-bottom: 32px;
    width: 32px;
    height: 32px;
  }

  .popup__header {
    gap: 12px;
    margin-bottom: 32px;
  }

  .popup__header h2 {
    font-size: 28px;
    font-weight: 500;
  }

  .popup__header__subtitle {
    max-width: 300px;
    width: 100%;
    word-break: normal;
  }

  .popup__header p {
    font-size: 16px;
  }

  .popup__inputs {
    gap: 16px;
  }

  .popup__file,
  .popup__button {
    display: flex;
    align-items: center;
  }

  .popup__file {
    gap: 0px;
    color: rgba(var(--mainTextColor-rgb), 0);
  }

  .popup__submit {
    display: flex;
    justify-content: space-between;
    gap: 90px;
  }

  .popup__button button {
    padding: 12px 54px;
  }

  input,
  textarea {
    width: 343px;
    padding: 12px 16px;
    font-size: 16px;
  }

  textarea {
    height: 115px;
  }

  .file-button {
    width: 48px;
    height: 48px;

    background-size: 28px 28px;
  }
  header.project {
    height: 92px;
  }

  .projects {
    gap: 24px;
    max-width: 343px;
  }

  .projects__title p {
    margin-top: 17px;
    font-size: 32px;
  }

  .projects__videos {
    gap: 24px;
    margin-bottom: 56px;
  }

  .project__video {
    width: 343px;
    height: 240px;
    border-radius: 16px;
    align-items: flex-end;
  }

  .project__video__content {
    max-width: 327px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }

  .project__fullname {
    display: none;
  }

  .project__video__title h2 {
    font-size: 18px;
  }

  .project__video__subtitle h3 {
    font-size: 12px;
  }

  .project__details {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }

  .overlay {
    display: none;
  }

  .project__button {
    display: flex;
    position: static;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
  }
  .button__play {
    background-image: url("/images/main/projects__buttonplaymob.svg");
    background-size: cover;
    width: 28px;
    height: 28px;
  }
}
